In [1]:
mytuple = ('a', 'b', 'c', 'd')
mytuple1 = ('e', 'f')
mytuple += mytuple1
print(mytuple)

('a', 'b', 'c', 'd', 'e', 'f')

In [2]:
mytuple * 2

('a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f')

In [1]:
mytuple[1]

NameError: name 'mytuple' is not defined

In [4]:
mytuple[1:5]

('b', 'c', 'd', 'e')

In [7]:
mylist = ['a', 123, 3.14, 'John']

In [11]:
mylsit1 = ['Python', 20]
mylist += mylsit1
mylist

['a', 123, 3.14, 'John', 'Python', 20]

In [12]:
mylist.remove('Python')

In [13]:
mylist

['a', 123, 3.14, 'John', 20]

In [14]:
mylist.append("10")
print(mylist)

['a', 123, 3.14, 'John', 20, '10']

In [15]:
mylist3 = ['c', 'd']
mylist.append(mylist3)
print(mylist)

['a', 123, 3.14, 'John', 20, '10', ['c', 'd']]

In [16]:
mylist.insert(1, 30)
print(mylist)

['a', 30, 123, 3.14, 'John', 20, '10', ['c', 'd']]

In [17]:
mylist.insert(2, 'Bruno')
print(mylist)

['a', 30, 'Bruno', 123, 3.14, 'John', 20, '10', ['c', 'd']]

## Dictionaries

In [23]:
myDict1 = {1: 'John', 2:'Bob', 3:'Alice'}
myDict1

{1: 'John', 2: 'Bob', 3: 'Alice'}

In [25]:
myDict2 = {}
myDict2

{}

In [26]:
# Dictionary with integer keys
myDict3 = {1: 'apple', 2: 'ball'}
myDict3

{1: 'apple', 2: 'ball'}

In [27]:
# Dictionary with mixed keys
myDict4 = {'name': 'John', 1: [2, 4, 3]}
myDict4

{'name': 'John', 1: [2, 4, 3]}

In [28]:
# Paring
# from seauence having each item as a pair
myDict5 = dict([(1,'apple'), (2,'ball')])
myDict5

{1: 'apple', 2: 'ball'}

In [30]:
# Accessing dictionary
myDict6 = {1: 'word1', 2:'word2'}
myDict6[2]

'word2'

In [31]:
#Length
len(myDict6)

2

In [39]:
# Key 
myDict7 = {1: 'apple', 2: 'ball'}
myDict7.keys()   # Key

dict_keys([1, 2])

In [40]:
# Values
myDict7.values()  # Values

dict_values(['apple', 'ball'])

### Sets

In [41]:
mySet = {1, 2, 3}
mySet

{1, 2, 3}

In [43]:
# Creating Sets
mySet = {1, 2, 3, 3}
mySet

{1, 2, 3}

In [44]:
# Union
myS1 = {1, 2, 'c'}
myS2 = {1, 'b', 'c'}
myS1 | myS2

{1, 2, 'b', 'c'}

In [45]:
# Intersection
myS1 = {1, 2, 'c'}
myS2 = {1,'b', 'c'}
myS1 & myS2

{1, 'c'}

In [46]:
# Difference
myS1 = {1, 2, 'c'}
myS2 = {1,'b', 'c'}
myS1 - myS2

{2}

### Python Flow Control

In [4]:
fruits = ['apple', 'banana', 'cherry']
for x in fruits:
    print(x)

apple
banana
cherry

In [5]:
a = 1
while a<5:
    print(a)
    a+=2

1
3

In [10]:
a = 10
while a>0:
    a -= 1
    if a >= 5:
        print(a)
    else:
        break

9
8
7
6
5

In [15]:
for letter in 'Python':
    if letter == 'h':
        break
    print( 'Current Letter :', letter)

var = 10
while var > 0:
    print('Current variable value: ', var)
    var -= 1
    if var == 5:
        break
        
print("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current variable value:  10
Current variable value:  9
Current variable value:  8
Current variable value:  7
Current variable value:  6
Good bye!

In [16]:
for letter in 'Python':
    if letter == 'h':
        continue
    print('Current Letter: ', letter)
    
var = 10
while var > 0:
    var -= 1
    if var == 5:
        continue
    print('Current variable value: ', var)
    
print("Good bye!")

Current Letter:  P
Current Letter:  y
Current Letter:  t
Current Letter:  o
Current Letter:  n
Current variable value:  9
Current variable value:  8
Current variable value:  7
Current variable value:  6
Current variable value:  4
Current variable value:  3
Current variable value:  2
Current variable value:  1
Current variable value:  0
Good bye!

In [17]:
z = lambda x,y:x*y
print(z(12,3))

36

In [18]:
def myfunc(n):
    return lambda a:a*n

In [19]:
x = lambda a : a + 10
print(x(5))

15

In [20]:
x = lambda a, b : a * b
print(x(5,5))

25

In [21]:
def myfunc(n):
    return lambda a:a*n

In [22]:
double = myfunc(3)
print(double(12))

36